@charset "utf-8";



@media (min-width: 576px) { 

    body{

        background-color:white !important;
    }



 } 

body
{
    background-color: black;
}
#list
{   
    list-style-type: none;
    color: #000000;
    height: 35px;
    margin-left: 85%;

}
@media (max-width: 740px)
{
    #list
    {
        list-style-type: none;
        color: #000000;
        height: 35px;
        margin-left: 70%;
    }
}
ul#list li
{
    font-size: 10pt;
    float: left;
    text-align: center;
    margin-right: 8%;
}
@media (max-width: 1200px)
{
    #list
    {
        list-style-type: none;
        color: #000000;
        height:35px;
        margin-left: 75%;
    }

}
#profile
{
    width: 30pt;
    position: absolute;
    top: 1%;
}
.icon
{
    width: 60px;
    margin: auto;
}
.icon_table
{
    width: 100px;
    text-align: center;
}
.siteName
{
    font-size: 10pt;
}
.icon_name:hover
{
    text-decoration: underline;
}
table
{
    margin: auto;
}   
#logo
{
    top: 350px;
    text-align: center;
    margin-bottom: 22pt;
    margin-top: 115px;
}
#logo_img
{
    width: 275px;
}
@media (max-width:1024px)
{
    #logo_img
    {
        width: 200px;
    }
}
#input
{
    text-align: left ;
    font-size: 12pt;
    width: 33%;
    height: 101%;
    border: none;
    outline: none;
}
#input:focus
{
    box-shadow: 0 0 4px #9e9e9e;
}
.keywordsBox
{
    position: absolute;
    z-index: -1;
    width: 40%;
    height: auto;
    left: 30%;
    margin: auto;
    border: 1px black;
    background-color: #ffffff;
    opacity: 0;
}

#search
{
    text-align: center;
    background-image: url(../images/search_icon.png), url(../images/mic_icon.png);
    background-position: 32% center, 68% center;
    background-repeat: no-repeat;
    background-size: 40px;
    width: 100%;
    height: 40px;
}
a
{
    text-decoration: none;
    color: inherit;
}
.list_link:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.img_btn:hover
{
    background-color: #9e9e9e;
    cursor: pointer;
}
.siteName:hover
{
    text-decoration: underline;
    
}
#profile:hover
{
    background-color: #9e9e9e;
    cursor: pointer;
}
.icon_table:hover
{
    background-color: #9e9e9e;
    cursor: pointer;
}
#search_keywords
{
    position: relative;
    list-style-type: none;
    border-bottom: 20px;
    
}
.showKeywords
{
    opacity: 0;
    z-index: -2;
}
.onFocus{
    border: 1px solid;
    opacity: 1;
    z-index: 1;
}
.keywordName:hover
{
    background-color: #000000;
}
/*
.onKeyup
{
    opacity: 1;
    z-index: 2;
}

/*
#onKeyup
{
    list-style-type: none;
    opacity: 1;
    z-index: 2;
}
*/
